// 修改了该文件后，需手动运行 yarn generate-antd-css
@import "antd/dist/antd.less";
@import "@ant-design/aliyun-theme/index.less";

// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@theme: variable;
@primary-color: #007ACC;
@primary-color-hover: #0062A3;
@primary-color-active: #0062A3;
@border-color-base: #CCC;
@input-placeholder-color: #a8c5e2;
@btn-default-border: @btn-default-bg;
