// 修改了该文件后，需手动运行 yarn generate-antd-css
@import "antd/dist/antd.less";
@import "@ant-design/aliyun-theme/index.less";

@border-color-base: #FFF0;
// @input-border-color: #FFF0;
@input-placeholder-color: #a8c5e2;
@btn-default-border: @btn-default-bg;
