.freeze-all button {
  opacity: 0.5;
  pointer-events: none;
}

.freeze-all input, .freeze-all textarea, .freeze-all .ant-select-selector {
  background-color: #f5f5f5 !important;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 1;
}

.freeze-all * {
  pointer-events: none;
}

/* 添加antd svg颜色过渡动画 */
.anticon svg path {
  transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.zz-wrapper {
  display: block;
}

.zz-wrapper .sys-query {
  padding: 18px;
}

.zz-wrapper-content {
  margin: 18px;
  background-color: #fff;
}

.zz-wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 18px;
  border-bottom: 1px solid #c9c9c9;
}

.zz-wrapper-content > .ant-table-wrapper {
  margin: 18px;
}

.zz-wrapper-operators > * {
  margin-left: 8px;
}
